*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide
{
  display: none;
}

.grid
{
  display: grid;
}

.col-1
{
  grid-template-columns: repeat(1,1fr);
}

.col-2
{
  grid-template-columns: repeat(2,1fr);
}

.col-3
{
  grid-template-columns: repeat(3,1fr);
}

.col-4
{
  grid-template-columns: repeat(4,1fr);
}

.col-5
{
  grid-template-columns: repeat(5,1fr);
}

.col-6
{
  grid-template-columns: repeat(6,1fr);
}
.col-7
{
  grid-template-columns: repeat(7,1fr);
}

.col-8
{
  grid-template-columns: repeat(8,1fr);
}

.col-9
{
  grid-template-columns: repeat(9,1fr);
}

.col-10
{
  grid-template-columns: repeat(10,1fr);
}


#homePage
{
  justify-items: center;
  align-items: end;
  color: rgb(158, 128, 52);
  padding-bottom: 20px;
  width: 100%;
  height: 100vh;
}

#homePageDiv
{
  width: 100%;
}

/*#characterPage
{
  height: 100vh;
  width: 100vw;
  background-color: red;
  align-items: center;
}*/

.character > div:hover{
  background-color: white;
}


.character >div
{
}

#characterDiv
{
  height: 100%;
  align-items:center ;
  justify-items: center;
}

.character
{
  
  width:200px;
  height: 200px;
  border: 10px solid black;
}

.gameDisplay
{
   display: grid;
    grid-template-columns: 400px 400px 1fr 150px;
    grid-template-rows:1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "moneyDiv moneyDiv moneyDiv moneyDiv "
    "characterDisplay gameScreen gameScreen actionBtn"
    "characterDisplay gameScreen gameScreen actionBtn"
    "characterDisplay gameScreen gameScreen actionBtn";
    height: 100vh;
    /*background-color: rgba(0,64,82,255);*/
    
}

#moneyDiv
{
  grid-area: moneyDiv;
  
  
}

#characterDisplay
{
  grid-area:characterDisplay ;
  
}

#characterDisplay > div
{
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#characterDisplay > div > img
{
  height: 400px;
}

#gameScreen
{
  grid-area:gameScreen ;
  
  
}

#actionBtn
{
  grid-area:actionBtn;
  justify-items: center;
  height: 100%;
 }

.cash-div
{
  width: 100px;
  height: 100px;
  border:5px solid orangered;
  border-radius:50px;
  align-items: center;
  justify-items: center;
  margin-top: 15px;
  color: white;
}

#roundOneCashDiv
{
  margin: 0 auto;
  width: 70%;
}

#screen
{
  height: 275px;
  width: 100%;
  color:white ;
  border: 4px solid orangered;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}

#time
{

  background-color: orangered;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  justify-items: center;
  align-self: end;
  text-align: center;
  margin-bottom: 10px;
color: white;
}

#time > div
{
  align-self: center;
}

#time-div
{
  
  justify-items: center;
  align-items: center;
}

  
  


#button-area > div
{
  height: 100%;
  margin-top: 20px;
  row-gap: 20px;
  justify-items: center;
}

.choice
{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.roundCashBg
{
  background-color: orangered;
  color: white;
}

.bank-btn:hover
{
  background-color: white;
  color: orangered;
}

#bank
{
  text-align: center;
}

#lifeLines > div
{
  justify-items: center;
  height: 100%;
}

#pause-menu
{
  align-items: end;
}

.icon-size
{
  font-size: 1.5em;
}

.fiftyFifty:hover,
.phone:hover,
.audience:hover
{
  color: white;
}

.callAfriendPick
{
  background-color: orangered;
}

.hide{
  display: none;
}



.graphModalBody
{
  background-color: rgba(128, 128, 128, 0.459);
  width: 100%;
  height: 100vh;
  align-items: center;
}

.graphModalContent
{
  background-color:white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  
}

#audienceModalDiv
{
  position: absolute;
  width: 100%;
  height: 100%;
}

#gamer
{
  position: relative;
}

#pieChart
{

  align-items: center;
  justify-items: center;
}

#roundPage
{
    
    width: 100%;
    height: 100%;
    
}

.roundPosition
{
  justify-self: center;
    align-self: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 6rem;
    width: 600px;
    height: 400px;
    
}

#roundPage
{
  height: 100vh;
}

#roundPageDiv
{
  height: 100vh;
  width: 100vw;
}




 

 

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
  
 }


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

  .character
  {
    
    width:100px;
    height: 100px;
    border: 5px solid black;
  }
  
  .roundPosition
  {
    font-size: 2rem;
    
  }
  
  .gameDisplay
  {
     display: grid;
      grid-template-columns: 100px 400px 1fr 150px;
      grid-template-rows:1fr 1fr 1fr 1fr ;
      grid-template-areas: 
      "moneyDiv moneyDiv moneyDiv moneyDiv "
      "characterDisplay gameScreen gameScreen actionBtn"
      "characterDisplay gameScreen gameScreen actionBtn"
      "characterDisplay gameScreen gameScreen actionBtn";
      height: 100vh;
      /*background-color: rgba(0,64,82,255);*/
      
  }
  
  .cash-div
  {
    width: 60px;
    height: 60px;
    font-size: 15px;
    margin-bottom: 10px;
    border:2px solid orangered;
    border-radius:50px;
    margin-top: 10px;
  }
  
  #moneyDiv > div > div:nth-child(1) ,
  #moneyDiv > div:nth-child(1) 
  {
    
    width: 100%;
  }
  
  #moneyDiv 
  {
    
    margin:0;
    margin-left: 5px
  }
  
  
  #characterDisplay
  {
    background-color: royalblue;
    display: none;
  }
  
  #screen
  {
    width: 90%;
    height: 200px;
    margin:0 auto;
    align-self: center;
    
  }
  
  #gameScreen
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  
  #button-area > div
  {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0px;
    column-gap: 0;
    padding: 0;
    align-items: center;
    margin-top: 0;
  }
  
  .choice{
    width: 150px;
    height: 50px;
    margin: 0;
  
  }
  
  #time
  {
  
    background-color:transparent;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    justify-items: center;
    align-self: end;
    text-align: center;
    margin-bottom: 10px;
  color: white;
  font-size: 1rem;
  }
  
  }

  
@media (max-width: 575.98px) {
  #characterDiv
  {
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    row-gap: 40px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 20px;
    
  }

  #characterDiv::-webkit-scrollbar {
    display: none;
  }

  #homePage
  {
    width: 100%;
    height: 38.5vh;
    
  }

  #homePageDiv
  {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 100vh;
    background-color: black;
  }

  .gameDisplay
{
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 100px 1fr 1fr ;
  grid-template-areas:
  " moneyDiv moneyDiv" 
  " actionBtn actionBtn"
  " gameScreen gameScreen"
  ;
  height: 100vh;
    /*background-color: rgba(0,64,82,255);*/
    
}

#roundPage
{
  
  height: 38.5vh;
  width: 100%;

}

#roundPageDiv
{
  
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  background-color: black;
}

.roundPosition
{
  font-size: 2rem;
  width: 100%;
}

/*#roundOneCashDiv > div > div
{
  display: grid;
  grid-template-columns: 50px;
  
}*/
#roundOneCashDiv
{
  width: 100%;
  
}

#moneyDiv > div > div:nth-child(1)  > div
{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
}

#roundTwoCashDiv > div
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}

#characterDisplay
{
  display: none;
}

#moneyDiv
{
  width: 100%;
}

.choice{
  width: 150px;
  height: 50px;
}

.cash-div
{
  width: 60px;
  height: 60px;
  font-size: 15px;
  margin-bottom: 10px;
  border:2px solid orangered;
  border-radius:50px;
  margin-top: 10px;
}

.bank-btn
{
  font-size: 0.6rem;
}

#actionBtn
{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left:20px;
  height: 50px;
  margin-bottom: 24.3px;
  column-gap: 20px;
}

.roundPosition{
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  
}

#screen
{
  width: 90%;
  margin:0 auto
}


  
#button-area > div
{
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

#button-area
{
  margin-bottom: 5px;
  margin-top:5px;
  padding-bottom:20px;
}

#time
{

  background-color:transparent;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  justify-items: center;
  align-self: end;
  text-align: center;
  margin-bottom: 10px;
color: white;
}



#lifeLines > div
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
}


 }